@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

.List {
  p {
    margin: 0;
  }
}
.List-container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1100px;
}

.List-logo {
  display: flex;
  align-items: center;
  gap: 30px;

  h1 {
    font-family: "Lexend Deca", sans-serif;
    color: #212529;
    font-weight: 600;
    text-transform: capitalize;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lexend Deca", sans-serif;
    font-size: 25px;
    color: rgb(33, 37, 41);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
    width: 35px;
    height: 30px;
  }
}

.List-block {
  padding-top: 50px;
  height: 690px;
}

.List-block-add {
  padding: 10px 0 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  width: 500px;
  cursor: pointer;

  i {
    color: #7c7c7c;
  }

  span {
    font-size: 15px;
    color: #7c7c7c;
    font-family: "Lexend Deca", sans-serif;
    text-transform: capitalize;
  }
}

.List-block-ul {
  width: 500px;
  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
    line-height: 30px;
    width: 500px;
    padding: 5px 10px 5px 15px;
    border-bottom: 1px solid rgb(235, 235, 235);

    .task-flex {
      width: 470px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      input {
        border-radius: 50%;
      }
      span {
        font-family: "Lexend Deca", sans-serif;
        color: #444444ff;     
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;   
      }
      i {
        color: #7c7c7c;
      }
    }
    .task-tools {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-left: 25px;
    }
    .task-tools-time{
      display: flex;
      align-items: center;
      gap: 10px;
      i{
        color: #7c7c7c;
      }
      span{
        font-family: 'Lexend Deca', sans-serif;
        color: #7c7c7c;
      }
    }
    .task-tools-date {
     div{
        display: flex;
        align-items: center;
        gap: 5px;
     }
      i {
        color: #444444ff;
        font-size: 15px;
      }
      span {
        color: #444444ff;
        font-size: 12px;
        font-family: "Lexend Deca", sans-serif;
      }
    }
    .task-tools-subtask {
      display: flex;
      align-items: center;
      gap: 8px;
      span:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8px;
        color: #444444ff;
        font-family: "Lexend Deca", sans-serif;
        background-color: #ebebeb;
        border-radius: 20%;
        width: 15px;
        height: 15px;
      }
      span:nth-child(2) {
        font-family: "Lexend Deca", sans-serif;
        font-size: 12px;
      }
    }
  }
}
